# dev
dist
node_modules
public/script.js
public/script.js.map

# OS
.DS_Store
tsconfig.tsbuildinfo

/example/node_modules
/example/build

*.log
.DS_Store
node_modules
.cache
dist
.parcel-cache

example/.parcel-cache
